@charset "UTF-8";
/* CSS Document */

.button,
.button:link,
.button:visited {
 	display: inline-block;
	padding: 0.75em 1em;
	background-color: #606;
	background-image: linear-gradient(to bottom, #006, #606);
	border-radius: 6px;
	box-shadow: 1px 1px 4px rbga(0,0,0,0.5);
	color: #fff;
	font-weight: bold;
}

.button-alt,
.button-alt:link,
.button-alt:visited { 
	background-color: #FFF;
	background-image: linear-gradient(to bottom, #006, #606);
}

