@charset "UTF-8";
/* CSS Document */

body{
background-color:#D9C3CD;
}

.grid-nav{
	border-color: #603;
	background-color: #C9C;

}

.current{
	background-color: #303;
	color: #fff;
}

.nav{
	margin: 0;
	padding: 0;
	
	list-style-type: none;
}

.nav > li {
	display: inline-block;
}

.nav > li:before {
	content: "";
}


.nav-top {
	font-size: 1.25rem;
		
}



@media only screen and (min-width: 50em) {
	
.unit-l-2-5 {
	width: 40%;
}

.unit-l-1-5 {
	width:20%;
}
	
}

	
	