@charset "UTF-8";
/* CSS Document */

.grid-nav{
	border-color: #603;
	background-color: #C9C;

}


@media only screen and (min-width: 50em) {
	
.unit-l-2-5 {
	width: 40%;
}

.unit-l-1-5 {
	width:20%;
}
	
}

	
	