---
layout: default
title: Jewels
---

<div class="grid">
	<div class="unit unit-s-1 unit-m-1-2 unit-l-1-3">
		<h1>Jewels Jewels Jewels!</h1>
	</div>
	<div class="unit unit-s-1 unit-m-1-2 unit-l-2-3">
		<p>Beautiful hand crafted diamon jewels!</p>
	</div>
</div>

<ul>
	{% for jewel in site.pages %}
		{% if jewel.category == 'jewels' %}
			<li>
				<a href="{{site.baseurl}}{{jewel.url}}">
					<img class="img-flex" src="{{site.baseurl}}/images/{{jewel.image}}" alt="" />
					{{jewel.title}}
				</a>
			</li>
		{% endif %}
	{% endfor %}
</ul>