# Accessibility Testing Report

User testing was conducted by {your name} on {specific date} between the times of {start time} and {end time} with the following participants:

- {Giulia Balestra}
- {Tara Boland}
- {Logan Brandwood}
- {Samantha Nickerson}
- {Wilson LaBossiere}
- {Pamela Williams}

## Tasks

1. {Go through navigation bar and see pages you can click on ..home, news, jewels}
2. {Go to jewels page}
3. {Select buy now button on one of the diamond earrings products}

---

## Individual Results & Observations

### {Giulia Balestra}

- {Was able to navigate through the navigation pages as expected without trouble}
- {was able to click on the buy now button but then the page that it went to after that was not working}
- note: need to fix the page for shopping cart so that when you "buy now" it will lead to another page to finish up the purchase of the product. 

### {Tara Boland}

- {She completed the tasks as expected}
- {Same probelem with shopping cart page after hitting buy now button.. not a problem with the actual testing.. just a problem with the code on the page that needs to be fixed}

### {Logan Brandwood}

- {She completed the task as expected}

### {Samantha Nickerson}

- {She completed the tasks as expected}


### {Wilson LaBossiere}

- {He completed the tasks as expected…}


### {Pamela Williams}

- {She completed the tasks as expected…}

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- {All participants had problems after the hit the buy now button.. was not trouble with completing the task but it just didn't lead to anywhere to finish up the purchase.. shopping cart page code needs to be fixed so that it leads to it}


### Serious, Causes Frustration, May Hinder Completion

-{""}

