---
layout: default
---

<h1>Jewels</h1>
<p>Buy beautiful jewels online</p>

<div class="grid">
	<div class="unit gutter unit-s-1 unit-m-1 unit-l-1">
		{% include promo-small.html image="earrings.jpg" title="Diamond Earrings" desc="beautifully hand crafted diamond earrings that stand out" %}
	</div>
</div>

<div class="grid grid-promo-small">
	<div class="unit gutter unit-s-1 unit-m-1-3 unit-l-1-3">
		{% include promo-large.html image="earrings2.jpg" title="Diamond Earrings" desc="beautifully hand crafted diamond earrings that stand out" %}
	</div>
</div>
