# User Testing Report

User testing was conducted by {Ivy LaBossiere} on {April 1st 2014} between the times of {3:00pm} and {end time} with the following participants:

- {Giulia Balestra}
- {Tara Boland}
- {Logan Brandwood}

## Tasks

1. {First task description here}
2. {Second task description here}
3. {Third task description here}

---

## Individual Results & Observations

### {Giulia Balestra}

- {She clicked on the link as expected…}
- {She had troubles completing a specific task…}
- {She asked these questions…}
- {Fill in any observations that were important/relevant…}

### {Tara Boland}

- {He clicked on the link as expected…}
- {He had troubles completing a specific task…}
- {He asked these questions…}
- {Fill in any observations that were important/relevant…}

### {Logan Brandwood}

- {She clicked on the link as expected…}
- {He had troubles completing a specific task…}
- {She asked these questions…}
- {Fill in any observations that were important/relevant…}

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- {All participants had this problem…}
- etc.

### Serious, Causes Frustration, May Hinder Completion

- {Two of the participants succeeded where one of them failed…}
- etc.

### Minor, Annoying, Won’t Hinder Completion

- {Participants pointed out this inconsistency…}
- etc.