# User Testing Report

User testing was conducted by {Ivy LaBossiere} on {April 1st 2014} between the times of {4:00pm} and {6:00pm} with the following participants:

- {Giulia Balestra}
- {Tara Boland}
- {Logan Brandwood}

## Tasks

1. {Go to Jewels Page to view different items}
2. {From Jewels Page select specific item to view more information about product}
3. {Select Item you want and click button to add to cart}

---

## Individual Results & Observations

### {Giulia Balestra}

- {She clicked on the page link called "jewels" to go to the jewels page as expected}
- {She did not have any trouble completing the first or second task, however she did have troubles adding item to cart}
- {Easily found the product that she wanted to select and clicked on the "buy now" button to add to cart but the cart page was not working}
- {Overall she said that most things on the site were straight forward- named in a manor that was easy to follow and the tasks were not confusing but some things are not working correctly}

### {Tara Boland}

- {She clicked on the links that I wanted her to as expected.. didn't have problems finding the buttons, however some pages did not work when clicked on}
- {She had troubles completing the shopping cart because the page is not linking/working for some reason}


### {Logan Brandwood}

- {She clicked on the links as expected everything worked except for the shopping cart}
- {Pretty much the same thing as the other two participants}

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- {All participants could not see the cart page because it is not working with the rest of the site}

### Serious, Causes Frustration, May Hinder Completion

- {Initial image on the page goes too big when the website is at full screen (large promo does not stop at a max width.. I would like for it to center itself and not get any bigger after a certain point/screen size).}

### Minor, Annoying, Won’t Hinder Completion

- {Colors on sites/borders around product list items needs fixing and cleaning up.}