# User Testing Report

User testing was conducted by {Ivy LaBossiere} on {April 1st 2014} between the times of {4:00pm} and {end time} with the following participants:

- {Giulia Balestra}
- {Tara Boland}
- {Logan Brandwood}

## Tasks

1. {Go to Jewels Page to view different items}
2. {From Jewels Page select specific item to view more information about product}
3. {Select Item you want and click button to add to cart}

---

## Individual Results & Observations

### {Giulia Balestra}

- {She clicked on the page link called "jewels" to go to the jewels page as expected}
- {She did not have any trouble completing the first or second task, however she did have troubles adding item to cart}
- {Easily found the product that she wanted to select and clicked on the "buy now" button to add to cart but the cart page was not working}
- {Overall she said that most things on the site were straight forward- named in a manor that was easy to follow and the tasks were not confusing but some things are not working correctly}

### {Tara Boland}

- {He clicked on the link as expected…}
- {He had troubles completing a specific task…}
- {He asked these questions…}
- {Fill in any observations that were important/relevant…}

### {Logan Brandwood}

- {She clicked on the link as expected…}
- {He had troubles completing a specific task…}
- {She asked these questions…}
- {Fill in any observations that were important/relevant…}

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- {All participants had this problem…}

### Serious, Causes Frustration, May Hinder Completion

- {Two of the participants succeeded where one of them failed…}

### Minor, Annoying, Won’t Hinder Completion

- {Participants pointed out this inconsistency…}