<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Jewels</title>
<link href="{{site.baseurl}}/css/common.css" rel="stylesheet">
<link href="{{site.baseurl}}/css/buttons.css" rel="stylesheet">
<link href="{{site.baseurl}}/css/footers.css" rel="stylesheet">
<link href="{{site.baseurl}}/css/forms.css" rel="stylesheet">
<link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
<link href="{{site.baseurl}}/css/header.css" rel="stylesheet">
<link href="{{site.baseurl}}/css/list-group.css" rel="stylesheet">
<link href="{{site.baseurl}}/css/media-object.css" rel="stylesheet">
<link href="{{site.baseurl}}/css/product-details.css" rel="stylesheet">
<link href="{{site.baseurl}}/css/product-list.css" rel="stylesheet">
<link href="{{site.baseurl}}/css/promos.css" rel="stylesheet">
<link href="{{site.baseurl}}/css/typography.css" rel="stylesheet">
</head>
<body>

<header>
<h1>Online Jewels</h1>
{% include nav.html navclass='nav-top' %}


</header>

{{content}}

<footer>
{% include nav.html navclass='nav-bottom' %}
	<p>2014 Online Jewels</p>
</footer>

</body>
</html>
